.pagination {
  display: flex;
  align-items: center;
  gap: 5px;

  &__button {
    transition: all .2s ease 0s;

    background: inherit;
    color: #C8C9CB;

    border: 1px solid #C8C9CB;
    border-radius: 5px;

    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: rgba(211, 211, 211, 0.16);
    }

    &_active {
      background: #31343e;
      border: 2px solid #C8C9CB;
      font-weight: 700;
    }
  }
}
