.pagination {
  display: flex;
  align-items: center;
  gap: 5px;

  &__button {
    background: inherit;
    color: #C8C9CB;

    border: 1px solid #C8C9CB;
    border-radius: 5px;

    padding: 5px 10px;
    cursor: pointer;

    &_active{
      background: rgba(200, 201, 203, 0.34);
    }
  }
}
