.movies {

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__error {
    text-align: center;
  }
}