* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body, html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1a1d29;
  color: white;

  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}
