.comment {
  padding: 10px 0 20px;

  color: #C8C9CB;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  border-bottom: 1px solid #C8C9CB;

  &__title {
    font-size: 20px;
    color: #dbdbdb;
    margin-bottom: 5px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5px;
  }

  &__description {
    line-height: 20px;
    font-size: 18px;

  }
}