.ReactSelect {

  &__single-value {
    color: #c8c9cb !important;
  }

  &__control {
    background: #31343e !important;
    border: none !important;
    border-bottom: 1px solid lightgray !important;
    cursor: pointer !important;

  }

  &__indicators {
    svg {
      transition: all .5s ease 0s;
      fill: #c8c9cb;

      &:hover {
        fill: #919191;

      }
    }
  }

  &__menu {
    background: inherit !important;

  }

  &__option {
    background: #31343e !important;
    cursor: pointer !important;
    transition: all .5s linear 0s;

    &--is-focused {
      background: lighten(#31343e, 8%) !important;
    }
  }

  &__input {
    color: white !important;
  }
}